#pattern  filter=crypt diff=crypt merge=crypt
fr/secrets.yaml  filter=crypt diff=crypt merge=crypt
ul/secrets.yaml  filter=crypt diff=crypt merge=crypt
wue/secrets.yaml  filter=crypt diff=crypt merge=crypt
